<%- include include/header %>
<ul class="media-list">
<% articles.forEach(function(article){ %>
    <li class="media">
        <div class="media-left">
            <a href="#"><img src="<%=article.user.avatar%>" alt="<%=article.user.username%>" class="media-object"/></a>
        </div>
        <div class="media-body">
            <h4 class="media-heading"><a href="/articles/detail/<%= article._id %>"><%=article.title%></a></h4>
            <p><%-article.content%></p>
            <% if(article.img){ %>
            <img src="<%= article.img%>" style="width:200px;" alt=""/>
            <% } %>
        </div>
        <div class="media-bottom">
            <strong>Author:</strong> <%=article.user.username%>&nbsp;&nbsp;&nbsp;&nbsp;<strong>Post time:</strong> <%=article.createAt.toLocaleString()%>
        </div>
    </li>
<%})%>
</ul>
<%- include include/footer %>